<div class="main">
  <div class="main_image">
    <img src="/assets/signin.png" alt="" />
  </div>
  <div class="main_signup">
    <div class="main_signup_title">Sign In</div>
    <div class="main_signup_info">
      Enter details bellow to access to your account
    </div>
    <div class="main_signup_username">
      <input type="text" />
    </div>
    <div class="main_signup_password">
      <input type="password" name="" id="" />
    </div>
    <div class="main_signup_button">Sign In</div>
  </div>
</div>
