.main {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  &_image {
    width: 50%;
    min-width: 50%;
    height: 100%;
    img {
      height: 100%;
    }
  }
  &_signup {
    width: 50%;
    height: 100%;
  }
}
