<div class="main">
  <div class="main_image">
    <img src="/assets/signin.png" alt="" />
  </div>
  <div class="main_signup">
    <img class="main_signup_image1" src="/assets/signin3.png" alt="" />
    <img class="main_signup_image2" src="/assets/signin4.png" alt="" />
    <img class="main_signup_image3" src="/assets/signin5.png" alt="" />
    <div class="main_signup_title">
      <img src="/assets/signin2.png" alt="" />
    </div>
    <div class="main_signup_info">
      Enter details bellow to access to your account
    </div>
    <div class="main_signup_username">
      <input
        [(ngModel)]="username"
        placeholder="Enter your username"
        autocomplete="off"
        type="text"
      />
    </div>
    <div class="main_signup_password">
      <input
        [(ngModel)]="password"
        placeholder="Enter your password"
        type="password"
        name=""
        id=""
      />
    </div>
    <div class="main_signup_button" (click)="login()">Sign In</div>
  </div>
</div>
